/* colors */
$black: #000000;
$white: #ffffff;
$radRed: #ff4242;
$darkRed: #c5283d;


/* font-sizes */
/* multiplier: 1.25 */
$tiny: 0.8rem;
$normal: 1rem;
$medium: 1.25rem;
$big: 1.5625rem;
$bigger: 1.953125rem;
$biggest: 2.44rem;
$huge: 3.05rem;

$fs-text: 16px;
$ff-primary: 'Montserrat', sans-serif;
$ff-secondary: 'Poiret One', cursive;

$carousel-height: 600px;
$carousel-height-sm: 80vw;

/** breakpoints **/
$giant: 1170px;
$desktop: 992px;
$tablet: 768px;
$phone: 480px;
$smallPhone: 340px;



/** utility-classes **/
.float-right {
  float: right !important;
}