li {
  list-style: none;
  position: relative;
  text-align: center;
  padding-right: 30px;
}

.sublist-wrapper {
  position: relative;
  padding-left: 35%;
  text-align: left;
  margin-bottom: 20px;
}

.sublist {
  display: block;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  color: transparentize($black, 0.3);
  &:before, &:after {
    content: '';
    position: absolute;
    background-color: transparentize($black, 0.5);
  }
  &:before {
    top: -5px;
    left: -7px;
    width: 2px;
    height: 12px;
  }
  &:after {
    top: -5px;
    left: -5px;
    width: 12px;
    height: 2px;
  }
}

.hr {
  height: 50px;
  width: 3px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 2px;
  background-color: $radRed;
  &:before {
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -4px;
    left: -6px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $radRed;
    border-radius: 100px;
  }
}
